In [1]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
import math
from scipy.stats import norm
#Importation des packages
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import datasets
from sklearn.model_selection import train_test_split , KFold
from sklearn.preprocessing import Normalizer
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from collections import Counter

from sklearn import datasets

<h3>Load data</h3>

In [32]:
iris_df = pd.read_csv(r"D:\S3\FD\TP\Iris (1).csv")
iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
iris_df.shape

(150, 6)

<h3>Data summery</h3>

In [4]:
iris_df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [5]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [6]:
target_category = iris_df["Species"].unique()
target_category=list(map(str,target_category))
print(target_category)

['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

In [7]:
species = iris_df.Species
data = iris_df.drop(columns=['Species','Id'])

In [35]:
iris_df['Category'] = iris_df['Species'].factorize()[0]
category = iris_df['Category']
iris_df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Category
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0

<h3>Split dataset into train/test</h3>

In [9]:
#diviser l'ensemble de données en testing data (20%) et en training data (80%) en utilisant la stratification pour diviser en taille égal
data_train,data_test,species_train,species_test = train_test_split(data,category, test_size = 0.2, stratify = category,random_state=1)
print(np.bincount(species_train))

[40 40 40]

In [10]:
new_iris = pd.DataFrame(np.column_stack([data_train,species_train]))
print(new_iris)

       0    1    2    3    4
0    5.1  3.7  1.5  0.4  0.0
1    4.6  3.2  1.4  0.2  0.0
2    6.9  3.1  5.1  2.3  2.0
3    5.5  2.6  4.4  1.2  1.0
4    5.6  2.9  3.6  1.3  1.0
..   ...  ...  ...  ...  ...
115  4.5  2.3  1.3  0.3  0.0
116  5.0  2.3  3.3  1.0  1.0
117  5.0  3.4  1.6  0.4  0.0
118  4.6  3.1  1.5  0.2  0.0
119  4.4  3.2  1.3  0.2  0.0

[120 rows x 5 columns]

<h3>Sort and rearrange the data based on the species</h3>

In [36]:
#Trier et réorganiser les données sur sa catégorie
setosa = new_iris[new_iris[4] == 0]
versicolor = new_iris[new_iris[4]==1]       
virginica  = new_iris[new_iris[4]==2] 
new_iris = pd.concat([setosa,versicolor,virginica])
setosa.head()
versicolor.head()
virginica.head()

      0    1    2    3    4
2   6.9  3.1  5.1  2.3  2.0
7   6.0  2.2  5.0  1.5  2.0
8   6.3  3.4  5.6  2.4  2.0
10  6.7  3.0  5.2  2.3  2.0
14  6.3  2.9  5.6  1.8  2.0

<h3>Splits data based on species</h3>

In [12]:
setosa_data=new_iris[0:40] 
versicolor_data=new_iris[40:80]
virginica_data=new_iris[80:120]

<h3>find mean</h3>

In [13]:
#calculer le main
setosa_mean = setosa_data.mean()
versicolor_mean = versicolor_data.mean()
virginica_mean= virginica_data.mean()
print(setosa_mean,versicolor_mean,virginica_mean)

0    4.9975
1    3.4050
2    1.4575
3    0.2375
4    0.0000
dtype: float64 0    5.9400
1    2.7875
2    4.2950
3    1.3325
4    1.0000
dtype: float64 0    6.6700
1    2.9975
2    5.6175
3    2.0400
4    2.0000
dtype: float64

<h3>find standard diviation</h3>

In [14]:
#la standarisation
setosa_std = setosa_data.std()
versicolor_std = versicolor_data.std()
virginica_std = virginica_data.std()
print(setosa_std,versicolor_std,virginica_std)

0    0.351179
1    0.358737
2    0.185206
3    0.086787
4    0.000000
dtype: float64 0    0.494482
1    0.308169
2    0.435566
3    0.196622
4    0.000000
dtype: float64 0    0.592344
1    0.333195
2    0.545324
3    0.294218
4    0.000000
dtype: float64

<h3>Finding Likelihood</h3>

In [15]:
#Trouver la probabilité
x =[]
likelihood = []
   
for j in range(len(new_iris)):
    distribution = 1
    if(j<40):
        mean=setosa_mean
        std = setosa_std
    if(j>=40 and j<80):
        mean=versicolor_mean
        std = versicolor_std
    if(j>=80 and j<120):
        mean=virginica_mean
        std = virginica_std    
    
    for i in range(4):
        x = new_iris.iloc[j] 
        a= ((x[i]- mean[i])**2)/(2*std[i]**2)
        b= math.sqrt(2*math.pi*(std[i]**2))
        y = math.exp(-a)/b
        distribution= distribution*y  
    likelihood.append(distribution)
    x=[]  
print(likelihood)

[1.4426580700892164, 4.859950538247489, 3.681311494548139, 0.5602613645293176, 11.096692414208947, 4.708645550519082, 0.9869177278847444, 5.027865366544022, 10.63422212525947, 0.3347440525802846, 2.5067408810202014, 5.523920120747661, 0.08046997818740656, 4.429608698883304, 9.194055698490738, 0.06525343204281557, 0.2450644579429106, 2.3282164040871387, 0.040709262933722894, 6.4912692059963, 0.3020811479117205, 4.480788976038864, 4.103501562127642, 9.074380401691098, 5.040647664716323, 10.40248181911195, 4.846470606571815, 1.0944825796912072, 0.05026812543275934, 5.461187819110392, 4.913679372606586, 9.366533208389106, 8.510389058937559, 0.45029653892091814, 2.753061777919138, 4.1517482781691815, 0.02145326108103868, 1.6118835377478415, 4.074492875633117, 1.58538963842863, 0.8403628783339742, 0.3959314997528378, 0.09484006856639267, 0.4082805469513774, 0.04674480528993944, 0.5249417793314612, 0.1329466049559066, 0.1710337310597052, 1.4176966480545765, 1.52219360820255, 0.05579070326125043, 1.0361575762222712, 0.25550043839107883, 1.1225115347922254, 1.5598389656754927, 0.32625256868707214, 0.9460380729876207, 1.5383254011436713, 0.9518586961669341, 1.0780665405682952, 0.16085638836258678, 0.32014089328744266, 0.3802071171837074, 0.5750483930090603, 0.023880360000470634, 0.9817591591732707, 0.6630494228477333, 0.38779822984226664, 0.5752014918242843, 1.0714260096519848, 1.0584485301248912, 0.06487823005988119, 0.04872674532213474, 1.0544095695479478, 0.0005507097613493974, 0.32670022506123053, 0.1544082990869907, 0.022097231057816694, 1.5547456960849853, 0.0016060601856784336, 0.305229111692358, 0.0023513772001266535, 0.15000887614364294, 0.4032917082340731, 0.4518675877669645, 0.17765099145893679, 0.13329103116714563, 0.3841740384525642, 0.10393939002389883, 0.5214246885773539, 0.3602548398891479, 0.537741826841652, 0.15407565098661813, 0.10153412524849219, 0.020441248197315236, 0.06531135008854126, 0.08070312574627202, 0.06881178280681532, 0.10039284456692613, 0.40307393097492356, 0.18957691436540697, 0.41262294516182374, 0.023185026568312683, 0.0983388180574896, 0.16566066161223558, 0.34240213325685487, 0.5122770146240077, 0.626047446011032, 0.5920779571830261, 0.1570557141821975, 0.0011666962961337578, 0.0036880862755533325, 0.2498448362793699, 0.11416886181248938, 0.6400017694768625, 0.481732268481376, 0.020815313805021277, 0.04506713220926917, 0.10393939002389883, 0.0018029298206597509]

<h3>Find Priori probability</h3>

In [16]:
#Trouver la probabilité a priori
setosa_priori = len(setosa_data)/len(new_iris)
versicolor_priori = len(versicolor_data)/len(new_iris)
virginica_priori = len(virginica_data)/len(new_iris)

print(setosa_priori)
print(versicolor_priori)
print(virginica_priori)

0.3333333333333333
0.3333333333333333
0.3333333333333333

<h3>Rearrange the data into groups based on the species</h3>

In [17]:
#Réorganiser les données en groupes en fonction de l'espèce
new_test = pd.DataFrame(np.column_stack([data_train,species_train]))

In [18]:
setosa = new_test[new_test[4] == 0]
versicolor = new_test[new_test[4]==1]       
virginica  = new_test[new_test[4]==2] 
new_test = pd.concat([setosa,versicolor,virginica])

<h3>Find likelihood for test data</h3>

In [19]:
#trouver la probablilté pour les données de test
testLikelihood =[]
x=[]
testPosterior=[]
posteriorSpecies =[]


for j in range(len(new_test)):
    for c in range(3): 
        if (c==0):
            mean = setosa_mean
            std = setosa_std
            priori = setosa_priori
        if (c == 1):
            mean= versicolor_mean
            std = versicolor_std
            priori = versicolor_priori
        if(c == 2):
            mean= virginica_mean
            std = virginica_std
            priori = virginica_priori
        distribution = 1       
        for i in range(4):
            x = new_test.iloc[j] 
            a= ((x[i]- mean[i])**2)/(2*std[i]**2)
            b= math.sqrt(2*math.pi*(std[i]**2))
            y = math.exp(-a)/b 
            distribution= distribution*y
        x=[]    
        testLikelihood.append(distribution)
        posterior = testLikelihood[c]* priori    #Calculate poterior values
        testPosterior.append(posterior)
        maxPosterior = testPosterior.index(max(testPosterior))   #finds the maximum value
    posteriorSpecies.append(maxPosterior)
   

    testLikelihood =[]    
    testPosterior=[]

<h3>Lets check the Differences</h3>

In [20]:
#Vérifions les Différences
print("Species of original test data") 
species_test = list(map(int,new_test[4]))
print(species_test)

print("Species of Maximum Posterior values")    
print(posteriorSpecies)

Species of original test data
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]
Species of Maximum Posterior values
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

<h3>Accuarcy</h3>

In [37]:
#le précision
similar=0
for i in range(len(posteriorSpecies)):
    if(species_test[i] == posteriorSpecies[i]):
        similar +=1
accuracy_percentage = similar/(i+1)*100
accuracy = similar/(i+1)
the_exact_accuarcy =round(accuracy,2)
print("la précision :", accuracy)
print("la précision exact :", the_exact_accuarcy)
print("le percentage de la précision est :",the_exact_accuarcy)

la précision : 0.9583333333333334
la précision exact : 0.96
le percentage de la précision est : 0.96